
@font-face {
    font-family: "raster";
    src: local("Trickster"),
      url("FKRasterGroteskCompactTrial-Blended.otf") 
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

.grid{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.square{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 50%;
    width: 100%;
}

.pattern{
    height: 100%;
    background-color: black;
}

.pattern2{
    height: 100%;
    background-color: black
}

.innerpattern{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: cyan
    
}

.squareborder{
    width: 100%;
    height: 20%;
    background-color: black;
    display: flex;
}

.squaretype{
    height: 60%;
    width: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
    font-size: 400px;
    font-family: "raster";
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: cyan;
}

